@import 'utils';

$navigator-width: 292.25px;
$navigator-height: 41.125px;

.warning {
  position: fixed;
  top: calc(100% - 5rem);
  left: calc(50% - 146.125px);
  width: $navigator-width;
  height: $navigator-height;
  background: rgba(0, 0, 0, 0.83);
  border-radius: 3px;
  font-size: 1.4rem;
  color: white;
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.calendar-navigator {
  position: fixed;
  top: calc(100% - 5rem);
  left: calc(50% - 146.125px);
  z-index: 20;
  .date-button {
    width: 15rem;
  }
  .limited-days {
    margin-bottom: 1rem;
    text-align: center;
    span {
      font-weight: 700;
      font-size: 1rem;
      color: #343a40;
      @include media('<=small') {
        font-size: .85rem;
      }
    }
  }
}