@import 'utils';

.header {
  background: $default-header;
  height: 5rem;
  color: $apod-title-bright;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 50;
  .drawer-button-wrapper {
    padding: 1.2rem;
    cursor: pointer;
    .drawer-button {
      color: $drawer-button;
    }
    &:hover {
      .drawer-button {
        color: darken($drawer-button, 20%);
      }
    }
    &:active {
      .drawer-button {
        color: darken($drawer-button, 40%);
      }
    }
  }
  span {
    @include media('<=medium') {
      font-size: 1.65rem;
    }
    @include media('<=small') {
      font-size: 1.45rem;
    }
  }
}