@import 'utils';

%responsive-card-width {
  @include media('>=huge') {
    width: 258px;
  }
  @include media('>=large', '<huge') {
    width: 291px;
  }
  @include media('>=medium', '<large') {
    width: 333px;
  }
  @include media('<medium') {
    width: 100%;
  }
}

.card-wrapper {
  padding: 0 1.5rem 2rem 1.5rem;
  .card-container {
    @extend %responsive-card-width;
    background: white;
    border-radius: 3px;
    box-shadow: $material-shadow2;
    .apod-picture {
      @extend %responsive-card-width;
      z-index: 10;
      cursor: pointer;
      transition: all .2s ease-in;
      &:hover {
        box-shadow: $material-shadow2;
      }
    }
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .65rem .4rem .8rem .8rem;
      .title {
        color: $apod-title-dark;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .remove-button-wrapper {
        height: 100%;
        padding: .5rem .3rem .9rem .55rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .remove-button {
          color: $remove-button;
        }
        &:hover {
          .remove-button {
            color: darken($remove-button, 20%);
          }
        }
        &:active {
          .remove-button {
            color: darken($remove-button, 40%);
          }
        }
      }
    }
  }
}
