@import 'utils';

%responsive-card-width {
  @include media('>=huge') {
    width: 258px;
  }
  @include media('>=large', '<huge') {
    width: 291px;
  }
  @include media('>=medium', '<large') {
    width: 333px;
  }
  @include media('<medium') {
    width: 100%;
  }
}

.apod-picture-dimmer {
  position: absolute;
  top: calc(50% - 17.5px);
  left: calc(50% - 47.5px);
}

.card-container {
  padding: 0 1.5rem 2rem 1.5rem;
  .card-wrapper {
    @extend %responsive-card-width;
    background: white;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    .apoc-picture {
      @extend %responsive-card-width;
      z-index: 10;
      position: relative;
    }
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .65rem .4rem .8rem .8rem;
      .title {
        color: $apod-title-dark;
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: 1rem;
      }
      .remove-button-wrapper {
        height: 100%;
        padding: .5rem .3rem .9rem .55rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .remove-button {
          color: $remove-button;
        }
        &:hover {
          .remove-button {
            color: darken($remove-button, 10%);
          }
        }
        &:active {
          .remove-button {
            color: darken($remove-button, 20%);
          }
        }
      }
    }
  }
}
