@import 'utils';

.apod-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 70;
  .apod-dimmer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 71;
    background: rgba(0, 0, 0, 0.9);
  }
  .exit-button {
    display: none;
    position: fixed;
    top: 25px;
    right: 10px;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 72;
    @include media('<=small') {
      display: block;
    }
  }
  .apod-template {
    display: flex;
    margin: 4rem;
    z-index: 72;
    @include media('<=large') {
      flex-direction: column;
    }
    @include media('<=medium') {
      margin: 1.6rem;
    }
    img {
      align-self: center;
      width: 30vw;
      height: auto;
      box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(255, 255, 255, 0.23);
      @include media('<=large') {
        width: 60vw;
        height: auto;
      }
    }
    .apod-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 1.8rem;
      @include media('<=large') {
        margin-left: 0;
        margin-top: 2.8rem;
      }
      .apod-header {
        display: flex;
        flex-direction: column;
        border-left: 5px solid $default-background;
        margin-bottom: 1.2rem;
        padding: .6rem 0 .2rem .7rem;
        @include media('<=large') {
          padding: .6rem 0 0 .7rem;
        }
        @include media('<=medium') {
          padding: .3rem 0 0 .55rem;
        }
        .title {
          color: $apod-title-bright;
          font-size: 1.55rem;
          font-weight: 700;
          margin-bottom: .5rem;
          @include media('<=huge') {
            font-size: 1.3rem;
          }
          @include media('<=small') {
            font-size: 1.1rem;
            margin-bottom: .25rem;
          }
        }
        .date {
          color: $apod-date;
          font-size: 1rem;
        }
      }
      p {
        color: $apod-explanation;
        font-size: 1.15rem;
        line-height: 2rem;
        @include media('<=huge') {
          font-size: 1.1rem;
          line-height: 1.7rem;
        }
        @include media('<=medium') {
          font-size: 1rem;
        }
        @include media('<=small') {
          line-height: 1.35rem;
        }
      }
    }
  }
}