@import 'utils';

.empty-message-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    height: 300px;
    user-select: none;
    transition: .2s all ease-in;
    @include media('<small') {
      height: 200px;
    }
  }
  span {
    font-size: 1.4rem;
    font-weight: 700;
    color: darken($planet, 50%);
    text-align: center;
    margin-top: -1.6rem;
    margin-bottom: 5rem;
    transition: .2s all ease-in;
    @include media('<small') {
      font-size: 1.2rem;
      margin-top: -1rem;
    }
  }
}