@import 'utils';

.viewer-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .viewer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {
      display: block;
      width: auto;
      max-width: calc(100vw - 4rem);
      max-height: calc(100vh - 20rem);
      cursor: pointer;
      transition: all .2s ease-in;
      box-shadow: $material-shadow2;
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 12px 23px rgba(0, 0, 0, 0.35)
      }
    }
    .header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      .title {
        color: $apod-title-bright;
        font-size: 1.4rem;
        font-weight: 700;
        @include media('<=medium') {
          font-size: 1rem;
        }
      }
    }
  }
  iframe {
    background: black;
    box-shadow: $material-shadow1;
    width: calc(100vw - 4rem);
    height: calc(100vh - 20rem);
  }
}