@import 'utils';

.viewer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .picture-wrapper {
    img {
      width: auto;
      height: 55vh;
      cursor: pointer;
      transition: all 0.2s ease-in;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 12px 23px rgba(0, 0, 0, 0.35)
      }
      @include media('<=large', 'portrait') {
        width: 85vw;
        height: auto;
      }
      @include media('<=large', 'landscape') {
        width: auto;
        height: 50vh;
      }
    }
    .title-wrapper {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      .title {
        color: $apod-title-bright;
        font-size: 1.4rem;
        font-weight: 700;
        @include media('<=medium') {
          font-size: 1rem;
        }
      }
    }
  }
  iframe {
    background: black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 60vw;
    height: 50vh;
    @include media('<=large') {
      width: 85vw;
    }
  }
}